<h1>All users</h1>

<%= will_paginate %>

<ul class="users">
    <!-- when render is called with list variable, render iterates through
         each list element and calls _<variable>.html.erb (_user.html.erb)  -->
    <%= render @users %>
</ul>

<%= will_paginate %>